<section class="hero" aria-labelledby="hero-heading">
  <div class="hero__media-wrapper hero__media-wrapper--adapt">
    <picture>
        <img
          src="https://placehold.co/4000x2000/png?text=Hero+Image"
          srcset="https://placehold.co/4000x2000/png?text=Hero+Image 400w,
                  https://placehold.co/4000x2000/png?text=Hero+Image 800w,
                  https://placehold.co/4000x2000/png?text=Hero+Image 1200w"
          sizes="(max-width: 768px) 100vw,
                 (max-width: 1200px) 80vw,
                 1200px"
          alt=""
          loading="lazy"
          decoding="async"
          class="hero__media fit-image"
          aria-hidden="true"
        />
    </picture>
  </div>

  <div class="hero__content-wrapper hero__content-wrapper--middle-center">
    <div class="hero__content hero__content--middle-center vertical-flow">
      <div class="hero__block hero__block--heading">
        <h1 id="hero-heading" class="section-heading heading-1 no-margin text-center">Lorem ipsum dolor sit amet</h1>
      </div>

      <div class="hero__block hero__block--text">
        <div class="section-text text-center">
          <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>

      <div class="hero__block hero__block--buttons">
        <div class="section-buttons section-buttons--row section-buttons--center">
          <div class="section-buttons__button section-buttons__button--1">
            <a href="#" class="button" aria-label="Button">
              Button
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
