<section class="media-with-text" aria-labelledby="section-heading">
  <div class="media-with-text__grid">
    <div class="media-with-text__image-wrapper" aria-hidden="true">
      <picture>
        <img
          src="https://placehold.co/2000/png?text=Image+1"
          srcset="https://placehold.co/2000/png?text=Image+1 400w,
                  https://placehold.co/2000/png?text=Image+1 800w,
                  https://placehold.co/2000/png?text=Image+1 1200w"
          sizes="(max-width: 768px) 100vw,
                 (max-width: 1200px) 80vw,
                 1200px"
          alt=""
          loading="lazy"
          decoding="async"
          class="media-with-text__image"
          aria-hidden="true"
        />
      </picture>
    </div>

    <div class="media-with-text__text-wrapper">
      <div class="hero__content hero__content--middle-center vertical-flow">
        <div class="hero__block hero__block--heading">
          <h2 id="section-heading" class="section-heading heading-2 no-margin text-center">Heading</div>
        </div>

        <div class="hero__block hero__block--text">
          <div class="section-text text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

        <div class="hero__block hero__block--buttons">
          <div class="section-buttons section-buttons--row section-buttons--center">
            <div class="section-buttons__button section-buttons__button--1">
              <a href="#" class="button" aria-label="Button">
                Button
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
